*.swp
.idea/*
*.pyc
*.png
*.xlsx
venv/*
.DS_Store
.vscode/
*.egg*
*.log
.nox/
build/
.ruff_cashe
.pytest_cashe
.mypy_cahse
.coverage
.snakemake/
.spyproject
.vs
*.prof
.devcontainer/devcontainer.json
notebooks/data/*
**/lightning_logs/**
